.wrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  text-transform: capitalize;
  font-size: 20rem;
  line-height: var(--line-height);
  color: var(--logo-color);
  margin-bottom: 15rem;
}
