.wrapper {
  display: flex;
  justify-content: space-between;
  height: 60rem;
  margin-bottom: 28rem;
  align-items: center;
}

.headerIconsContainer {
  display: flex;
  width: 90rem;
  justify-content: space-between;
}

.headerIconsWrapper {
  display: flex;
  position: relative;
  padding: 2rem 10rem;
}

.headerTextCount {
  position: absolute;
  font-weight: 500;
  font-size: 15rem;
  line-height: var(--line-height);
  background-color: var(--accent-color);
  color: white;
  border-radius: 50%;
  padding: 0rem 5rem;
  left: 25rem;
  bottom: 15rem;
}
