@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root {
  --primary-font-color: #1c1c27;
  --accent-color: #ffa542;
  --additional-color: #838383;
  --logo-color: #101010;
  --page-bg-color: #eaeaea;
}

* {
  color: var(--primary-font-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover {
  color: var(--accent-color);
  transition: 0.3s;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 20.7px;
  background-color: var(--page-bg-color);
}

button {
  background: none;
  border: none;
  font-family: 'Montserrat', 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 20.7px;
  text-transform: capitalize;
  color: black;
  cursor: pointer;
  padding: 7px;
}
